.DS_Store
/.phpunit.cache
/bootstrap/ssr
/node_modules
/public/build
/public/hot
/public/storage
/public/vendor/telescope
/storage/*.key
/vendor
.env
.env.backup
.env.production
.phpunit.result.cache
Homestead.json
Homestead.yaml
auth.json
npm-debug.log
yarn-error.log
/.fleet
/.idea
/.vscode
/.devcontainer
**/.DS_Store
storage/app/public/airlines_branding_seed_data/.DS_Store
_ide_helper.php
_ide_helper_models.php
.phpstorm.meta.php
jsconfig.json
volar.config.js
jsconfig.paths.json
vue.config.js
tasks.json
.eslintrc.js
pint.json
/config/telescope-toolbar.php
config/telescope.php
config/ide-helper.php
.bun.lockb
.compose-dev.yaml
docker-compose.yml
compose-dev.yaml
bun.lockb
.phpactor.json
laravel-queue-worker.log
nohup.out
laravel-schedule-worker.log
.auth0.api.json
.auth0.app.json
dump.rdb
dump.html
